// Fonts
$fontName: 'Montserrat';
$font: #{$fontName}'-Regular';
$font-ultraLight: #{$fontName}'-UltraLight';
$font-light: #{$fontName}'-Light';
$font-hairline: #{$fontName}'-Hairline';
$font-semiBold: #{$fontName}'-SemiBold';
$font-bold: #{$fontName}'-Bold';
$font-extraBold: #{$fontName}'-UltraBold';

// Line height
$line-height-paragraph: 1.6;
