.bio {
    margin: 25px 0 0 0;
    &__left-col {
        padding-left: 65px;
    }
    &__title {
        font-family: @font-semiBold;
        font-size: 35px;
        color: @black;
        margin-bottom: 20px;
    }
    &__desc {
        text-align: left;
        line-height: @line-height-paragraph;
        font-size: 14px;
    }
    &__image {
        background-color: @grey;
    }
}