body {
    background-color: @bg-body;
    font-family: @font;
    color: @black;
}

html {
    margin-top: 0 !important;
}
#wpadminbar {
    display: none !important;
}


// Placeholders

.generic {
    &--title {

    }
}