.services {
  margin: 60px 0 0 0;
  &__list {
    .parent-cap;
  }
  .service {
    &:nth-child(even) {
      > .row {
        flex-direction: row-reverse;
      }
    }
    &:not(:first-child) {
      margin-top: 50px;
    }
    &__image {
      overflow: hidden;
      height: 450px;
      img {
        max-height: 100%;
      }
    }
    &__title {
      text-align: left;
      font-size: 35px;
      margin-top: 45px;
      padding-left: 15px;
      color: @blue--dark;
      font-family: @font-semiBold;
    }
    &__description {
      text-align: left;
      font-size: 19px;
      line-height: 1.5;
    }
  }
}
